.gameBoard{
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
}

hr{
    width: 100%;
}

#title {
    color: red;
}
#errorTitle{
    color: green;
    margin-bottom: 15px;
}

#errorCount{
    color: red;
}

#board {
    width: auto;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

#slider {
    padding-top: 5%;
    margin: 0;
    width: 100%;
    height: auto;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
#slider img {
    width: 15%;
    height: auto;
}

.button {
    margin-top: 10px;
    background-color: green;
    width: 100px;
    height: 50px;
    border-radius: 100px;
    cursor: pointer;
    position: relative;
    transition: 0.2s;
}
.button::before {
    margin-top: 10px;
    position: absolute;
    content: '';
    background-color: yellow;
    width: 45px;
    height: 45px;
    border-radius: 100px;
    margin: 3px;
    margin-left: -45px;
    transition: 0.2s;
}
input:checked + .button{
    background-color: green;
    
    }
input:checked + .button::before{
    transform: translateX(50px);
    }
input{
        display: none;
    }

#hDigits {
        width: 100%;
        height: 33px;
    

        display: flex;
        flex-wrap: wrap;
    }
#hDigitsBottom {
        width: 100%;
        height: 32px;
        margin-top: 138px;

        display: flex;
        flex-wrap: wrap;
    }
#vDigitsLeft {
        width: 10%;
        height: 270px;
        margin-top: 33px;
        margin-left: 2px;

        display: flex;
        flex-wrap: wrap;
        float: left;
    }
#vDigits {
        width: 10%;
        height: 270px;
        margin-top: 33px;
        margin-left: -51px;
        display: flex;
        flex-wrap: wrap;
        float: right;
    }
#middleBoard{
    width: 80%;
   
    float: inline-start;
    display: flex;
    flex-wrap: wrap;
}
    .tile {
        width: 100%;
        height: auto;
        border: 1px solid yellow;
    
        /*Text*/
    
        font-size: 20px;
        font-weight: bold;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .number {
        width: 11%;
        height: 19%;
        border: 1px solid black;
    
        /*Text*/
    
        font-size: 13px;
        font-weight: bold;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .number-error {
        font-size: 0px;
        background-color: red;
    }
    
    .number-error2 {
        background-color: red;
    }
    
    .number-erased {
        font-size: 0px;
    }
    
    .number-selected {
        background-color: grey;
        color: blue;
    }
    .hAnswerNum {
        width: 100%;
        height: 36.65px;
        border: 1px solid black;

        /*Text*/
    
        font-size: 13px;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: yellowgreen;
    }

    .hAnswerNumLeft {
        width: 100%;
        height: 36.65px;
        border: 1px solid black;
    
        /*Text*/
    
        font-size: 13px;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: yellowgreen;
    }

    .vAnswerNum {
        width: 11%;
        height: 32px;
        border: 1px solid black;
    
        /*Text*/
    
        font-size: 13px;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: yellowgreen;
    }

    .vAnswerNumBottom {
        width: 11%;
        height: 32px;
        border: 1px solid black;
    
        /*Text*/
    
        font-size: 13px;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: yellowgreen;
    }

    @media (min-width: 600px){
        .hAnswerNum{
            font-size: 20px;
            height: 54.65px;

        }
        .hAnswerNumLeft{
            font-size: 20px;
            height: 54.65px;

        }
        .vAnswerNum{
            font-size: 20px;
            height: 50px;

        }
        .vAnswerNumBottom{
            font-size: 20px;
            height: 50px;
        }
        #vDigitsLeft{
            margin-top: 50px;
        }
        #vDigits{
            margin-top: 50px;
        }
        #hDigitsBottom{
            margin-top: 204px;
        }
        .number{
            font-size: 20px;
        }
        #board{
            margin-top: 17px;
        }
        .button {
            margin-top: 40px;
            background-color: green;
            width: 100px;
            height: 50px;
            border-radius: 100px;
            cursor: pointer;
            position: relative;
            transition: 0.2s;
        }
        .button::before {
            margin-top: 40px;
            position: absolute;
            content: '';
            background-color: yellow;
            width: 45px;
            height: 45px;
            border-radius: 100px;
            margin: 3px;
            margin-left: -45px;
            transition: 0.2s;
        }
    }

    @media (min-width: 900px){
        #slider{

        }
    }

    @media (min-width: 1220px){
        .button {
            margin-top: 320px;
            background-color: green;
            width: 100px;
            height: 50px;
            border-radius: 100px;
            cursor: pointer;
            position: relative;
            transition: 0.2s;
        }
        .button::before {
            margin-top: 320px;
            position: absolute;
            content: '';
            background-color: yellow;
            width: 45px;
            height: 45px;
            border-radius: 100px;
            margin: 3px;
            margin-left: -45px;
            transition: 0.2s;
        }
    }